{% extends 'comum/base.html' %}

{% block conteudo %}
    <h2 class="mb-4 text-primary fw-bold">{{ titulo }}</h2>

    <form method="post" class="mt-4">
        {% csrf_token %}
        <!-- Renderiza os campos do formulário -->
        <div class="mb-4">
            {{ form.as_p }}
        </div>
        
        <hr>
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-success px-4">Salvar</button>
            <a href="{% url url_cancelar %}" class="btn btn-outline-secondary px-4">Cancelar</a>
        </div>
    </form>
{% endblock %}
